# core
pyTelegramBotAPI==4.5.1
requests==2.28.0
seedrcc==1.0.1
urllib3==1.26.9
validators==0.20.0
xspf-lib==0.2.0

# aiohttp family – NO VERSION PIN
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
decorator
frozenlist
idna
multidict
yarl
